.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all var(--anim-duration);
  font-weight: 400;
  user-select: none;
  font-family: inherit;
  letter-spacing: 0.025rem;
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  outline: none;
}

/* CONTAINED */

.button__contained__default {
  background-color: var(--color-default);
}
.button__contained__default:hover {
  background-color: color-mod(var(--color-default) b(25%));
}

.button__contained__primary {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}
.button__contained__primary:hover {
  background-color: color-mod(var(--color-primary) b(25%));
}

.button__contained__secondary {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}
.button__contained__secondary:hover {
  background-color: color-mod(var(--color-secondary) b(25%));
}

/* TEXT */

.button__text__default {
  color: var(--color-default);
}
.button__text__default:hover {
  background-color: color-mod(var(--color-default) a(15%));
}

.button__text__primary {
  color: var(--color-primary);
}
.button__text__primary:hover {
  background-color: color-mod(var(--color-primary) a(15%));
}

.button__text__secondary {
  color: var(--color-secondary);
}
.button__text__secondary:hover {
  background-color: color-mod(var(--color-secondary) a(15%));
}

/* OUTLINE */

.button__outline__default {
  color: var(--color-default);
  border: 1px solid color-mod(var(--color-default) a(50%));
}
.button__outline__default:hover {
  background-color: color-mod(var(--color-default) a(15%));
  border-color: var(--color-default);
}

.button__outline__primary {
  color: var(--color-primary);
  border: 1px solid color-mod(var(--color-primary) a(50%));
}
.button__outline__primary:hover {
  background-color: color-mod(var(--color-primary) a(15%));
  border-color: var(--color-primary);
}

.button__outline__secondary {
  color: var(--color-secondary);
  border: 1px solid color-mod(var(--color-secondary) a(50%));
}
.button__outline__secondary:hover {
  background-color: color-mod(var(--color-secondary) a(15%));
  border-color: var(--color-secondary);
}

.button__disabled {
  filter: brightness(75%);
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: calc(50% - 0.75rem);
  left: calc(50% - 0.75rem);
  animation: spin 1s linear infinite;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid transparent;
  border-top: 0.2rem solid white;
}
