.f {
  display: flex;
}

.f-jc-start {
  justify-content: flex-start;
}
.f-jc-center {
  justify-content: center;
}
.f-jc-end {
  justify-content: flex-end;
}
.f-jc-between {
  justify-content: space-between;
}

.f-ai-center {
  align-items: center;
}
