/* MODES */
.dark {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}
.light {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}

.dark_content {
  background-color: var(--color-background-dark-2);
}
.light_content {
  background-color: var(--color-background-light-2);
}

/* STYLES */
.content {
  width: 100%;
  max-width: 40rem;
  margin: auto;
  margin-top: 6.25rem;
  height: calc(100vh - 6.25rem);
}
