:root {
  --color-primary: #bb68fc;
  --color-primary-2: #3700b3;
  --color-secondary: #03dac6;
  --color-background-dark: #242424;
  --color-background-dark-2: #363636;
  --color-text-dark: #f2f2f2;
  --color-background-light: #f2f2f2;
  --color-background-light-2: #ffffff;
  --color-text-light: #333333;
  --color-error: #cf6679;
  --color-on-primary: #000000;
  --color-on-secondary: #000000;
  --color-on-background: #ffffff;
  --color-on-error: #000000;
  --color-default: #e0e0e0;

  --anim-duration: 332ms;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.fw {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

@import "./components/_flex";
@import "./components/_spacing";
